
.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.key {
 border: 2px solid black;
 width: 40px;
 height: 40px;
 border-radius: 9px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #f0ebd9;
 background-color: #9e9494;
 position: relative;
}


 .key::after {
     content: '';
     position: absolute;
     top: 0;
     border-radius: 0px 0px 9px 9px;
     width: 25px;
     height: 2px;
     background-color: #dddddf;
     }
.key:hover {
 transition: all 0.5s ease;
 transform: scale(0.9);
}
.title {
 margin-top: 48px;

}
.textarea {
 margin: 0;
 margin: 0;
 padding: 5px;
 border-radius: 9px;
 resize: none;
 overflow: hidden;
 background-color: #f8f8f8;
 margin-top: 30px;
}
.hidden {
 display: none;
}

.keyboard {
 background: linear-gradient(#c6e4ee 0%, #c6e4ee 40%, #fed1ae 60%, #faa0b9 70%, #cb7dcb 80%, #757ecb 100%);
 border: 2px solid black;
 padding: 30px;
 border-radius: 9px;
 display: grid; 
 grid-template-columns: repeat(15, 40px); 
 grid-template-rows: 40px 40px 40px 40px 40px; 
 gap: 10px 7px; 
 grid-template-areas: 
   ". . . . . . . . . . . . . Backspace Backspace"
   ". . . . . . . . . . . . . Delete Delete"
   "CapsLock CapsLock . . . . . . . . . . . Enter Enter"
   "ShiftLeft ShiftLeft . . . . . . . . . . . ArrowUp ShiftRight"
   ". . . Space Space Space Space Space Space Space . . . . ."; 
   margin-top: 93px;
}
.Backspace { grid-area: Backspace; }
.Delete { grid-area: Delete; width: 80px;}
.Enter { grid-area: Enter; }
.ShiftRight { grid-area: ShiftRight; }
.CapsLock { grid-area: CapsLock; }
.ShiftLeft { grid-area: ShiftLeft; }
.Space { grid-area: Space; }
.ArrowUp{grid-area: ArrowUp;}

.describtion {
 margin: 20px 0px;
}

.Backspace, .Delete .CapsLock, .Enter, .ShiftLeft,  .CapsLock {
 width: 80px;   
}
.Space {
 width: 320px;
}
.active {
 background-color: brown;
}


.language, .describtion  {

 color: #fff;
}
.title {
 color: #fff;  
}
body {
background: linear-gradient(#e66465, #9198e5);
 background-size: 100% 100%;
 overflow: hidden;
}